.popup-calc {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	outline: none;
	&.active {
		visibility: visible;
		opacity: 1;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		.popup-calc__wrapper {
			opacity: 1;
		}
	}
	&__wrapper {
		position: relative;
		flex-shrink:0;
		margin: auto;
		opacity: 0;
		transition: opacity 0.5s ease 0s;

	}

	&__content {
		margin: 20px 0px;
		background-color: #ffffff;
		padding: 30px 20px;
		box-shadow: 0px 0px 30px rgba(0,0,0, .6);
		@media (max-width: 576px) {
			padding: 20px 10px;
		}
	}

	&__close {
		position: absolute;
		right: -32px;
		top: -2px;
		cursor: pointer;
		font-size: 35px;
		width: 19px;
		height: 19px;
		color: #fff;
		font-weight: 700;
		background-color: transparent;
		border: none;
		line-height: 19px;
		outline: none;
		@media (max-width: 576px) {
			top: 25px;
			right: 5px;
			font-size: 30px;
			font-weight: 400;
			color: #000;
		}
	}

	&__title {
		font-size: 30px;
		font-weight: 700;
		text-align: center;
		@media (max-width: 576px) {
			font-size: 25px;
		}
	}

	&__subtitle {
		font-size: 20px;
		text-align: center;
		margin-top: 20px;
		@media (max-width: 576px) {
			font-size: 16px;
		}
	}

	&__nav {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 576px) {
			justify-content: space-around;
		}
	}

	&__item {
		display: block;
		height: 47px;
		margin: 0px 2px;
		@media (max-width: 576px) {
			height: 35px;
		}
		img {
			height: 100%;
			object-fit: cover;
		}
	}

	&__image {
		display: none;
		width: 300px;
		margin: 20px auto;
		@media (max-width: 576px) {
			width: 200px;
		}
		&.active {
			display: block;
		}
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}

	&__size {
		display: flex;
		align-items: center;
		justify-content: center;
		label {
			color: #999;
			font-weight: 700;
			margin-left: 7px;
		}
	}

	&__input {
		width: 100px;
		font-size: 14px;
		padding: 10px 12px;
		color: #555;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 4px;
	}


	&__multiplication {
		font-size: 20px;
		color: #323131;
		margin: 0px 10px;
	}

	&__btn {
		text-transform: none;
		padding: 15px 10px;
		min-width: 156px;
		display: block;
		margin: 30px auto 0 auto;
		@media (max-width: 576px) {
			margin: 20px auto 0 auto;
			padding: 10px 10px;
		}
	}
}

.popup-calc-profile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	outline: none;
	&.active {
		visibility: visible;
		opacity: 1;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		.popup-calc-profile__wrapper {
			opacity: 1;
		}
	}
	&__wrapper {
		position: relative;
		flex-shrink:0;
		margin: auto;
		opacity: 0;
		transition: opacity 0.5s ease 0s;
	}

	&__content {
		margin: 20px 0px;
		background-color: #ffffff;
		padding: 30px 50px;
		text-align: center;
		box-shadow: 0px 0px 30px rgba(0,0,0, .6);
		@media (max-width: 576px) {
			padding: 15px 10px;
		}
	}

	.popup-calc__subtitle {
		font-size: 18px;
	}

	&__control {
		margin-top: 20px;
		height: 34px;
		padding: 6px 12px;
		color: #555;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 4px;
		@media (max-width: 576px) {
			font-size: 13px;
			padding: 6px;
		}

	}

	&__image {
		width: 90px;
		height: 90px;
		margin: 10px auto;
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}

	&__checkbox {
		display: none;
	}

	.popup-calc-profile__checkbox:checked + .popup-calc-profile__label::after {
		transform: scale(1);
	}

	&__checkbox-custom {
		display: inline-block;
		position: relative;
		width: 22px;
		height: 22px;
		border: 2px solid #ccc;
		border-radius: 3px;
		top: 5px;
		right: 11px;
	}
	&__label {
		display: inline-flex;
		align-items: center;
		justify-content: start;
		color: #000000;
		font-size: 15px;
		position: relative;
		width: 118px;
		cursor: pointer;
		&::before {
			content:'';
			align-self: flex-start;
			width: 22px;
			height: 22px;
			border: 2px solid #ccc;
			border-radius: 3px;
			margin-right: 20px;
		}
		&::after {
			content:'';
			position: absolute;
			top: 5px;
			left: 5px;
			width: 16px;
			height: 16px;
			border-radius: 3px;
			transition: transform 0.3s ease 0s;
			transform: scale(0);
		}
		&.cold {
			&::after {
				content:'';
				background-color: #008ad1;
			}	
		}
		&.warm {
			&::after {
				content:'';
				background-color: #e49900;
			}
		}
	}
	.popup-calc__btn {
		margin-top: 20px;
	}
}

.popup-form {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	outline: none;
	&.active {
		visibility: visible;
		opacity: 1;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		.popup-form__content {
			opacity: 1;
		}
	}

	&__content {
		position: relative;
		flex-shrink:0;
		margin: auto;
		opacity: 0;
		transition: opacity 0.5s ease 0s;
		.form {
			margin: 20px 0px;
			box-shadow: 0px 0px 30px rgba(0,0,0, .6);
		}
	}
}


